@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700");

.buttonStyle{
    font-size: 1em;
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
    font-family: 'Rouge Script', cursive;
  }

.buttonStyle:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}