@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700");

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h2 {
  color: #fff;
  font-family: 'Dancing Script';
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  text-shadow: 0.07em 0.07em  rgba(0, 0, 0, 0.1);
}


body, html {
    height: 100%;
    margin: 0;
}

.page {
    background-image: url("https://t3.ftcdn.net/jpg/01/79/75/54/240_F_179755461_MYmfBEyoTD4cVzpVBQIDuVYhOwTSwHM9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    position: relative;
    height: 1000px;
    margin: 0;
}


.page_form {
  margin: 0 auto;
  width: 70%;
  min-width: 200px;
  max-width: 700px;
  text-align: center;
  border: 4px groove darkgray;
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 60px;
  color: black;
  background: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px #888888;
}

.page_form_title {
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 3em;
  color: black;
  background-color: #F5F5F5;
  border: 4px;
  border-bottom-style: inset;
  border-top-style: outset;
  border-radius: 100%;
}
